{% extends "layout.html" %} 
{% block content %}
<center>
    <h1>OUR FEATURES</h1> 
    <br><center><img src="{{url_for('static',filename ='feature1.png')}}" style="background:white; border-radius:50%;">
    <h3>Real time project status</h3>
    <p>
        We provide students projects stage by stage as per there requirement.
        <br> and provide there them real-time status of projects.  
    </p>
    <img src="{{url_for('static',filename ='feature2.png')}}" style="background:white; border-radius:50%;">
    <h3>Supportive Documents</h3>
    <p>
        Team provide all the supportive documents needed for the projects like
        <br> report guidance, PPT Guidance  
    </p>
    <img src="{{url_for('static',filename ='feature3.png')}}" style="background:white; border-radius:50%;">
    <h3>Less Visits</h3>
    <p>
        We provide online lectures for the students using skype, Hangout 
        <br>which reduce students travel time.  
    </p>
    <img src="{{url_for('static',filename ='feature4.png')}}" style="background:white; border-radius:50%;">
    <h3>Easy to Understand</h3>
    <p>
        At the end we provide students guidance about
        <br> how to present the project in there final examination.
    </p></center>
    <hr>
    <center>



{% endblock content%}