{% extends "layout.html" %} 
{% block content %}
<link rel="stylesheet" href="/static/home.css">
<div class="cover">
    <div class="container-2">
        <img src="/static/cover.gif">   
    </div>
    <div class="container">
        <h1 class="heading">INDUSTRY EXPERT PROJECT CONSULTANTS</h1><br>
        <p>KM Technologies provide industry experts from Engineering, PHD, Management etc fields  for your Academic project completion.</p>
        <br><a href="/contactus" class="button">Book A Call Back Now</a>
    </div>
    
</div>
<div class="nav-2">
    <div>
        <h1>Collaboration With Top Universities in Karnataka</h1>
    </div>
    <div>
        <img src="/static/uni1.png" width="170px" height="70px">
        <img src="/static/uni2.png" width="190px" height="100px">&nbsp;&nbsp;
        <img src="/static/uni3.png" width="100px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/static/uni4.png" width="150px" height="70px">&nbsp;&nbsp;
    </div>
</div><br>

{% endblock content %}