<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Document</title>
    
</head>
<body>
    <center>{% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
             {% for message in messages %}
              <div class="message_flash">{{ message }}</div>
             {% endfor %}
         </ul>
       {% endif %}
      {% endwith %}</center>
      <center><a href="/home"><img src="/static/home.png" alt="logo" height="20px" width="20px" ></a></center>
    <div class="center">
        <h1>Signup</h1>
        <div id="error"></div>
        <form method="post" id="register_form">
            <div class="txt_field">
                <input type="text" id="username" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="email" id="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input type="password" id="cpass" name="cpass" required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Register">
            <div class="signup_link">
                got an account already ? <a href="/Templates/login.html">Login now</a>
            </div>
        </form>
    </div>
</body>
</html>