{% extends "user_layout.html" %}
{% block content %}
<body><center>
    <link rel="stylesheet" href="/static/project.css">
    <h1> LIST OF PROJECTS</h1>
    <table class="content-table">
        <thead>
          <tr>
            <th>Sl.no</th>
            <th>Title</th>
            <th>Description</th>
            <th>link</th>
            <th>Download link</th>
          </tr>
        </thead>
        <tbody>
        {% for register in dis %}
          <tr>
            <td>{{ register[0] }}</td>
            <td>{{ register[1] }}</td>
            <td>{{ register[2] }}</td>
            <td><a href="{{ register[3] }}">View</a></td>
            <td><a href="{{ register[3] }}" download="{{ register[1] }}">Download</a></td>
          </tr>
        {% endfor %}
        </tbody>
      
      </table>
    </center>
{% endblock content %}