{% extends "user_layout.html" %} 
{% block content %}
<link rel="stylesheet" href="/static/home.css">
<div class="cover">
    <div class="container-2">
        <img src="/static/cover.gif">   
    </div>
    <div class="container">
        <h1 class="heading">INDUSTRY EXPERT PROJECT CONSULTANTS</h1><br>
        <p>KM Technologies provide industry experts from Engineering, PHD, Management etc fields  for your Academic project completion.</p>
    </div>
    
</div>
<div class="nav-2">
    <div>
        <h1>Collaboration With Top Universities in Karnataka</h1>
    </div>
    <div>
        <img src="/static/uni1.png" width="170px" height="70px">
        <img src="/static/uni2.png" width="190px" height="100px">&nbsp;&nbsp;
        <img src="/static/uni3.png" width="100px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/static/uni4.png" width="150px" height="70px">&nbsp;&nbsp;
    </div>
</div><br>
<div class="about">
    <h1>About Us!!</h1><br>
    <h2>We Promise End to End Guidance in Your Projects!</h2><br>
    <p>
        At KM Tech, we understand your total end to end requirement first, then our research & development
        team works on your ideas to give you a proper details about the feasibility of it.
        After collecting all the information about your project, we provide you the basics of your projects, a raw design & a blueprint in advance.
        After your approval, our team gives you the timeline of each module & our Guidance team will provide you required KT about project’s
        modules.We plan the proper deadline for each project and we follow the same as we were also once the students and we know the importance of your projects on time delivery.
    </p>
</div>
<div class="services">
    <br>
    <h1><u>OUR SERVICES</u></h1><br>
    <center><img src="/static/igg.gif"></center><br>
    <p>
        We Provide Projects Guidance for
        Every Academic Course like Diploma, Engineering, ME, M Tech in Computer Engineering,
        Electronics-Telecommunication Engineering, Mechanical Engineering etc branches in Pune, Nashik, Mumbai, Satara,
        Ahmednagar, Kolhapur etc. locations across the India.
    </p><br>
    <left ul>
        <li>ENGINEERING DIPLOMA PROJECTS</li>
        <li>BACHELOR OF ENGINEERING (BE) PROJECTS</li>
        <li>ME AND M TECH PROJECTS</li>
        <li>BBA/MBA PROJECTS</li>
    </ul></left>
</div>
{% endblock content %}